# Python Data Structures
- variables and types
- strings, ints, floats, boolean
- lists
- dictionaries
- CSV data

## Variables and Types

In [5]:
# it's a good idea to provide a type and default value for Python variables
language:str = 'Python'
print(language, type(language))

Python <class 'str'>

In [6]:
# even though your provide a type, Python allows you to change it without error
age:int = 25
print(age, type(age))
age = "25"
print(age, type(age))

25 <class 'int'>
25 <class 'str'>

## Strings, Ints, Floats, Booleans

In [1]:
newline = "\n"
# strings hold text
famous_quote = "It always seems impossible until it's done. (Nelson Mandela)"
print(famous_quote, type(famous_quote),newline)

# ints hold numbers without decimals
year = 2025
print(year, type(year),newline)

# floats hold numbers with decimals
price = 1.00
print(price, type(price),newline)

# boolean holds True or False
the_sun_rises_in_the_east = True
the_sun_sets_in_the_east = False
print("the sun rises in the east:", the_sun_rises_in_the_east, type(the_sun_rises_in_the_east),newline)
print("the sun sets in the east:", the_sun_sets_in_the_east, type(the_sun_sets_in_the_east),newline)

It always seems impossible until it's done. (Nelson Mandela) <class 'str'>

2025 <class 'int'>

1.0 <class 'float'>

the sun rises in the east: True <class 'bool'>

the sun sets in the east: False <class 'bool'>

## Lists  
Data indexed by number starting at 0

In [7]:
names = ['bob','sue','tom','mary']
print(names[0])
print(names[3])
print(names)
# USING THE COLON to access values in list
# all values in list 
print(names[:])
# all values starting with index to end of string
print(names[2:])
# all values starting at the beginning of list not including the ending index
print(names[:3])
# first index included, second index ignored
print(names[2:3])

bob
mary
['bob', 'sue', 'tom', 'mary']
['bob', 'sue', 'tom', 'mary']
['tom', 'mary']
['bob', 'sue', 'tom']
['tom']

## Dictionaries  
Key Value Pairs in Curly Braces  
Data indexed by Key

In [14]:
import datetime

# Date as a string
data1 = {"name":"bob","birthday":"2025-06-04"}
print(data1)

# Creating date string from actual date time value
current_date = datetime.datetime.now()
current_date_as_string = current_date.strftime('%Y-%m-%d')
data2 = {"name":"bob","birthday": current_date_as_string}
print(data2)

print(data1["name"], data2["birthday"])

{'name': 'bob', 'birthday': '2025-06-04'}
{'name': 'bob', 'birthday': '2025-06-04'}
bob 2025-06-04

## CSV file format   
Comma Separated Value

Sample CSV Data: 

```csv
name,color  
bob,brown  
sue,blue  
jack,yellow  
mary,green  
sam,red  
ann,pink 
```

with open('./data/test.csv', 'r') as file:
    rows = file.readlines()
    for row in rows:
        print(row.strip())
        data = row.strip().split(',')
        print(data[0],data[1])